<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,800&display=swap" rel="stylesheet">
        <link th:href="@{/css/authentication.css}" rel="stylesheet" />
        <title>Sign Up</title>
    </head>
    <body>
        <div class="container" id="container">
            <div class="form-container sign-up-container">
                <form action="#" th:action="@{/view/signUp}" th:object="${authorizationUserDto}" method="post">
                    <h1>Create Account</h1>
                    <input type="text" th:field="*{name}" name="name" placeholder="Name"/>
                    <input type="password" th:field="*{password}" placeholder="Password" name="password"/>
                    <button type="submit">Sign Up</button>
                </form>
            </div>
            <div class="form-container sign-in-container">
                <form action="#" th:action="@{/view/signIn}" th:object="${authorizationUserDto}" method="post">
                    <h1>Sign in</h1>
                    <input type="text" th:field="*{name}" placeholder="Name" name="name" />
                    <input type="password" th:field="*{password}" placeholder="Password" name="password" />
                    <button type="submit">Sign In</button>
                </form>
            </div>
            <div class="overlay-container">
                <div class="overlay">
                    <div class="overlay-panel overlay-left">
                        <h1>Welcome Back!</h1>
                        <p>To keep connected with us please login with your personal info</p>
                        <button class="ghost" id="signIn">Sign In</button>
                    </div>
                    <div class="overlay-panel overlay-right">
                        <h1>Hello, Friend!</h1>
                        <p>Enter your personal details and start journey with us</p>
                        <button class="ghost" id="signUp">Sign Up</button>
                    </div>
                </div>
            </div>
        </div>
        <script th:src="@{/js/script.js}"></script>
    </body>
</html>
